# Patcher

Patcher/*.suo
Patcher/.vs/
Patcher/bin/
Patcher/obj/


# Server

Server/.vscode/
Server/node_modules/

# no user profile data
Server/userdata/*/users/**
# except IOI profile
!Server/userdata/*/users/fadb923c-e6bb-4283-a537-eb4d1150262e.json

# no external id => profile id bindings
Server/userdata/*/*ids/**
# but keep the folders
!Server/userdata/*/*ids/.gitkeep

# no contract data
Server/contractdata/**
# except for the two ghost mode contracts
!Server/contractdata/c854d9c7-8991-42db-a2e4-3cf93e645e81.json
!Server/contractdata/d5ad70f4-7dbb-4b2b-b183-061778a51468.json

# no custom server data
Server/menudata/*/serverTile.json
Server/menudata/*/featuredContracts.json
Server/menudata/*/dynamic_resources_pc_release_rpkg.rpkg

.idea/