# Patcher
Patcher/*.suo
Patcher/.vs/
Patcher/bin/
Patcher/obj/

# Server
Server/.vscode/
Server/node_modules/
Server/userdata/users/**
!Server/userdata/users/fadb923c-e6bb-4283-a537-eb4d1150262e.json
Server/userdata/steamids/**
!Server/userdata/steamids/.gitkeep